<div class="site-branding">
  <% if has_custom_logo %>
    <div class="site-logo"><%= the_custom_logo %></div>
  <% end %>
  <p class="site-title"><a href="<%= esc_url(home_url('/')) %>" rel="home"><%= get_option 'blogname' %></a></p>
  <%= content_tag :p, get_option('blogdescription', ''), class: 'site-description' %>

  <% if true || has_nav_menu('menu-1') %>
  <nav id="site-navigation" class="main-navigation" aria-label="Top Menu">
    <%= nav_menu_args = {menu_class: 'main-menu',
                        container: 'div',
                        container_class: 'menu-top-menu-container',
                        depth: 3,
    }
      nav_menu_args[:theme_location] = 'menu-1'
      wp_nav_menu(nav_menu_args) %>
  </nav><!-- #site-navigation -->
  <% end %>
  <% if false && has_nav_menu('social') %>
  <% end %>
    </div><!-- .site-branding -->



<!--

  <nav class="navbar navbar-expand-md navbar-dark mb-0 pt-md-0 sticky">
    <div class="container-fluid">
      <%= link_to main_app.root_path, class: 'navbar-brand my-md-3' do %>
        Logo<%#= image_tag 'logo.png', class: 'my-0', style: 'width:120;height:40px;', alt: "Dummy" %>
<% end %>
      <div class="d-flex flex-row order-2 order-md-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Afisare meniu">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <% nav_menu_args = {menu_class: 'navbar-nav mr-auto',
                          container: 'div',
                          container_class: 'collapse navbar-collapse order-3 order-md-2',
                          container_id: 'navbarCollapse',
                          depth: 3,
                          walker: Railspress::BootstrapNavwalker.new,
                          fallback_cb: 'Railspress::BootstrapNavwalker.fallback'
}
         nav_menu_args[:theme_location] = 'menu-1'
%>
<%= wp_nav_menu(nav_menu_args) %>
    </div>
  </nav> -->