<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel='stylesheet' id='twentynineteen-style-css'  href='https://blog.truesoft.ro/wp-content/themes/twentynineteen/style.css?ver=1.4' type='text/css' media='all' />
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
<div id="page" class="site">


  <header id="masthead" class="site-header">

    <div class="site-branding-container">
      <%= render 'layouts/site_branding' %>
    </div><!-- .site-branding-container -->

  </header>

<div id="content" class="site-content">
  <section id="primary" class="content-area">
    <main id="main" class="site-main">

    <%= yield %>
    </main>
  </section>
</div>
  <footer id="colophon" class="site-footer">
    <%# ?php get_template_part( 'template-parts/footer/footer', 'widgets' ); %>
    <div class="site-info">
      <% blog_info = get_bloginfo('name') %>
      <% unless blog_info.blank? %>
        <a class="site-name" href="<%= esc_url(home_url('/')) %>" rel="home"><%= bloginfo('name') %></a>,
      <% end %>
      <a href="https://wordpress.org/" class="imprint">
        <%= t('railspress.layouts.footer.powered_by', provider: 'WordPress') %>
      </a>
      <%#
			if ( function_exists( 'the_privacy_policy_link' ) ) {
				the_privacy_policy_link( '', '<span role="separator" aria-hidden="true"></span>' );
      }
      %>
      <% if true # has_nav_menu('footer')  %>
      <nav class="footer-navigation" aria-label="Footer Menu">
        <%=
          wp_nav_menu({theme_location: 'footer', menu_class: 'footer-menu', depth: 1}).html_safe
        %>
      </nav><!-- .footer-navigation -->
      <% end %>
    </div><!-- .site-info -->
  </footer><!-- #colophon -->

</div>
  </body>
</html>
