<div class="entry">
<div class="entry-content">
  <header class="page-header">
    <%= content_tag :h1, t('railspress.option.index.title'), class: 'page-title' %>
  </header>

<%= form_for @option, url: ( @option.new_record? ? main_app.admin_options_path : main_app.admin_option_path) do |f| %>
  <%= display_errors_for(@option) %>

  <%= content_tag :table, class: 'table table-bordered table-striped table-hover' do %>
    <%= content_tag :thead, class: 'thead-dark' do %>
      <% ["#", "Name", "Value", "Autoload", "Op."].each do |col| %>
        <%= content_tag :th, col %>
      <% end %>
    <% end %>
    <%= content_tag :tbody do %>
      <% @options.each_with_index do |parametru, index| %>
        <% is_edit_row = !@option.new_record? && @option.option_id == parametru.option_id %>
        <% is_new_row = @option.new_record? && @option == parametru %>
        <%= content_tag :tr, class: '' do %>
          <%= content_tag :td, is_new_row ? '*' : (index + 1) %>
          <%= content_tag :td, class: (is_edit_row || is_new_row) ? 'p-1' : nil do %>
            <% if is_new_row %>
              <%= f.text_field :option_name, class: 'form-control' %>
            <% else %>
              <%= parametru.option_name %>
            <% end %>
          <% end %>
          <%= content_tag :td, class: (is_edit_row || is_new_row) ? 'p-1' : nil do %>
            <% if is_edit_row || is_new_row %>
              <%= f.text_field :option_value, class: 'form-control' %>
            <% else %>
              <% if is_serialized(parametru.option_value) %>
                <%= PhpSerialization.load parametru.option_value %>
              <% else %>
                <%= parametru.option_value %>
              <% end %>
            <% end %>
          <% end %>
          <%= content_tag :td, class: (is_edit_row || is_new_row) ? 'p-1' : nil do %>
            <% if is_edit_row || is_new_row %>
              <%= f.select :autoload, ['yes', 'no'], {}, class: 'form-control' %>
            <% else %>
              <%= parametru.autoload %>
            <% end %>
          <% end %>
          <%= content_tag :td, class: ((is_edit_row || is_new_row) ? 'p-1' : '') + ' text-nowrap' do %>
            <% if (!@option.new_record? && @option.id == parametru.id) or (@option.new_record? && @option == parametru) %>
              <%= f.submit "OK", class: 'btn btn-primary' %>
              <%= link_to 'C', main_app.admin_options_path, title: "Cancel" unless parametru.new_record? %>
            <% elsif option_is_editable_ts(parametru.option_name) %>
              <%= link_to(svg_icon(:edit), main_app.edit_admin_option_path(parametru)) %>
              <%= if option_is_deletable_ts(parametru.option_name)
                    link_to(svg_icon(:remove), main_app.admin_option_path(parametru), data: {confirm: t('railspress.option.delete.question')}, method: :delete, title: t('railspress.option.delete.title'), class: '')
                  end %>
            <% else %>
              -
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

</div>
</div>

