<%= content_tag :article, id: "post-#{@post.id}", class: get_post_class('', @post).join(' ')  do %>
  <%= hidden_field_tag "railspress_current_template_article", 'app/views/railspress/posts/single.html.erb' if Railspress.WP_DEBUG %>
  <%= render partial: 'entry_header',  locals: {post: @post} %>
  <%= content_tag :div, class: 'entry-content' do %>
    <%#= @post.post_content.html_safe %>
    <%= content_html @post.post_content %>
  <% end %>
  <%= render partial: 'entry_footer',  locals: {post: @post} %>
<% end %>

<%= the_post_navigation({
          next_text: '<span class="meta-nav" aria-hidden="true">' + t( 'railspress.post.show.next_post') + '</span> ' +
              '<span class="screen-reader-text">' + t('railspress.post.show.next_post') + '</span> <br/>' +
              '<span class="post-title">%title</span>',
          prev_text: '<span class="meta-nav" aria-hidden="true">' + t( 'railspress.post.show.prev_post' ) + '</span> ' +
              '<span class="screen-reader-text">' + t( 'railspress.post.show.prev_post' ) + '</span> <br/>' +
              '<span class="post-title">%title</span>',
      }).html_safe %>
